/* ==================== BREAKPOINTS ==================== */


/* ----- X-Large devices (large desktops, 1200px and up) ----- */

@media (min-width: 1200px) and (max-width: 1500px) {
     :root {
        --container-width: 1200px;
    }
    .container {
        max-width: var(--container-width);
    }
}

/* ----- Large devices (desktops, 992px and up) ----- */

@media (min-width: 992px) and (max-width: 1200px) {
     :root {
        --container-width: 960px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- Medium devices (tablets, 768px and up) ----- */

@media (min-width: 768px) and (max-width: 991px) {
     :root {
        --container-width: 760px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- Small devices (landscape phones, 576px and up) ----- */

@media (min-width: 576px) and (max-width: 767px) {
     :root {
        --container-width: 540px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- X-Small devices (portrait phones, less than 576px) ----- */

@media (max-width: 575px) {
     :root {
        --container-width: 100%;
    }
    .container {
        max-width: var(--container-width);
        padding: 0 15px;
    }
}